@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

/* css variables */
:root {
  --dark-blue: #00244d;
  --light-blue: #0097c2;
  --light-grey: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-image: linear-gradient(
    300.45deg,
    #00244d 50%,
    #1769c6 50%,
    #ffffff 50%,
    #97e0f3 100%
  );
  background-repeat: no-repeat;
}

.container {
  padding: 50px 75px;
}

.light-blue-text {
  color: var(--light-blue);
}

.ant-card-body {
  padding: 0 !important;
  border-radius: 4px !important;
}

.ant-card-meta-title {
  color: white !important;
}

.ant-card-meta-description {
  color: white !important;
}

.checkout-button,
.information-button {
  border-radius: 30px !important;
  margin: 10px 0;
}

.checkout-button {
  background-color: #0097c2;
}

.information-button {
  border: 2px solid var(--light-blue);
  color: var(--light-blue);
}

@media screen and (max-width: 992px) {
  .container {
    padding: 50px 25px;
  }

  .ant-card {
    margin: 15px auto !important;
  }
}
